.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "Navigation Head Head Head Aside"
      "Navigation Main Main Main Aside"
      "Navigation Main Main Main Aside"
      "Navigation Main Main Main Aside"
      "Foot Foot Foot Foot Foot";
      font-family:'Courier New', Courier, monospace;

  }
  
  @media screen and (min-width: 1300px) {


  .Head { grid-area: Head; 

    color: rgb(0, 0, 0);
    text-shadow: rgb(122, 122, 122) 4px 3px 0px;
    background-color: rgb(241, 191, 1); 
    font-size:600%;
    margin: 40px;
    padding: 10px 20px 10px 20px;
    max-width: 1900px;
    float: inline-start;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    font-family:'Courier New', Courier, monospace;
    display: block;
  }
  
  .Main { grid-area: Main; 

    font-size: 180%; 
    background-color: rgb(50, 42, 89); 
    border: 4px double rgb(241, 191, 1);
    margin: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    display: flex;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    display: block;
  }

  .Footer { grid-area: Foot;

    background-color: rgb(241, 191, 1);
    padding: 10px 20px 10px 20px;
    border: 4px dashed rgb(241, 191, 1);
    font-family:'Courier New', Courier, monospace;
  }
      
  
  
    .Aside { grid-area: Aside;

    background-color: rgb(255, 255, 255);
    color:rgb(50, 42, 89);
    padding: 10px 20px 10px 20px;
    border-radius: 5px 5px 5px 5px;
    max-width: min-content;
    object-position: 90cm;
    float: right;
    font-family:'Courier New', Courier, monospace;
    display: flexbox;
  }
  
  .Navigation { grid-area: Navigation;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); 
    font-size: 20px;
    margin: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px 5px 5px 5px;
    max-width: 300px;
    float: left;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
  }




  .Title {
    text-decoration: aquamarine;
    color: rgb(255, 255, 255);
    text-decoration: overline;
    font-size: 40px;
    padding: 10px 20px 10px 20px;
    font-family: 'Courier New', Courier, monospace;}

  .Undertitle {
    
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    font-family:'Courier New', Courier, monospace;}

    .Text {

      text-decoration: aquamarine;
      color: rgb(255, 255, 255);
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      font-family:'Courier New', Courier, monospace;}

      li {
        color: inherit;
      }
  
    .Newstext {

      color: rgb(0, 0, 0);
      font-size: 140%;
      padding: 10px 10px 10px 10px;
      font-family:'Courier New', Courier, monospace;}
    

    .Smallnewstext {

      color: rgb(0, 0, 0);
      font-size: 80%;
      padding: 10px 10px 10px 10px;
      font-family:'Courier New', Courier, monospace;}
    }


    .Metadata {

      color: rgb(0, 0, 0);
      font-size: 20px;
      padding: 20px 20px 20px 20px;
      text-align: left;
    }

    .Language {

      color: rgb(255, 255, 255);
      text-shadow: rgb(122, 122, 122) 1px 1px 0px; 
      font-size: 150%;
      padding: 20px 20px 20px 20px;
      float: inline-end;
    }

    .Table {

      text-align: center;
      color: rgb(255, 255, 255);
      background-color: rgb(241, 191, 1);
      text-decoration: solid;
    }

    .SocialMedia {

      float: right;
    }

    a {

      text-shadow: rgb(122, 122, 122) 1px 1px 0px;
      color: rgb(209, 167, 0);
      text-decoration: none;
    }


  @media screen and (max-width: 900px) {
  }
    @media screen and (min-width: 900px) and (max-width: 1300px ) {
    }